* {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

h1 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

.flex {
    display: flex;
}


/* navbar-area */
nav {
    padding: 10px 50px;
    display: flex;
    background-color: lightslategrey;
}

nav a img {
    height: 50px;
    width: 50px;
}

ul {
    list-style: none;
    padding-left: 50px;
}

ul li {
    padding-left: 10px;
    display: inline;
}

ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 23px;
    text-shadow: 0 2px 1px lightsteelblue, 
      -1px 3px 1px lightslategrey, 
      -2px 5px 1px gray;

    /* -- for hover animation effect */
    background:
      linear-gradient(to right, lightslategrey, lightslategrey),
      linear-gradient(to right,
      /* #797e95,
      #6e7488, */
      #63687a,
      #585d6b,
      #4d535e,
      #414141,
      #28313B,
      #232526,
      #000000
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

ul li a:hover {
    background-size: 0 3px, 100% 3px;
}


/* ---- banner-area ---- */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/donation0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: calc(100vh - 74px); */
    height: 850px;
}

.banner-text-area {
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 200px;
}

.banner-text-area h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.banner-text-area p {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

.banner-text-area button {
    padding: 7px 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


/* donate-today */
.donate-today {
    padding: 40px 0;
}

.donate-today p {
    width: 55%;
    margin: auto;
    padding: 15px;
    color: #707070;
    text-align: center;
}

.donate-btn {
    justify-content: center;
}

.donate-btn button {
    padding: 20px 20px;
    margin: 5px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border: 2px solid #FAFAFA;
    color: #707070;
    background-color: #FAFAFA;
}

.donate-btn button:hover {
    border: 2px solid #FF5959;
    color: #FF5959;
    background-color: #FFEEEE;
}

.input-area {
    text-align: center;
    padding-top: 20px;
}

input[type=number] {
    display: inline;
    width: 50%;
    border: none;
    border-bottom: 1px solid lightgray;
    text-align: center;
    opacity: .5;
}

input[type=button] {
    background-color: #FF5959;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


/* Our Donate Plan */
.donate-plan {
    padding: 20px 0;
}

.donate-plan-heading p {
    width: 55%;
    padding: 15px;
    margin: auto;
    text-align: center;
    color: #707070;
}

/* Donate plan card */
.donate-plan-card {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.donate-single-card {
    padding: 40px 25px;
    margin: 0px 10px;
    border-radius: 5px;
}

.donate-single-card img {
    height: 30px;
    width: 30px;
}

.donate-single-card h4 {
    padding: 15px 0;
}

.skayblue {background-color: #EDF5F6;}
.redorange {background-color: #FFEEEE;}
.lightyellow {background-color: #FFF4D6;}

