* {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

h1 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

.flex {
    display: flex;
}


/* navbar-area */
nav {
    padding: 10px 50px;
    display: flex;
    background-color: lightslategrey;
}

nav a img {
    height: 50px;
    width: 50px;
}

ul {
    list-style: none;
    padding-left: 50px;
}

ul li {
    padding-left: 10px;
    display: inline;
}

ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 23px;
    text-shadow: 0 2px 1px lightsteelblue, 
      -1px 3px 1px lightslategrey, 
      -2px 5px 1px gray;

    /* -- for hover animation effect */
    background:
      linear-gradient(to right, lightslategrey, lightslategrey),
      linear-gradient(to right,
      /* #797e95,
      #6e7488, */
      #63687a,
      #585d6b,
      #4d535e,
      #414141,
      #28313B,
      #232526,
      #000000
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

ul li a:hover {
    background-size: 0 3px, 100% 3px;
}


/* ---- banner-area ---- */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/donation0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: calc(100vh - 74px); */
    height: 850px;
}

.banner-text-area {
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 200px;
}

.banner-text-area h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.banner-text-area p {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

.banner-text-area button {
    padding: 7px 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}